.page {
  background-color: #4254a209;
  margin: 1rem;
  padding: 0.5rem;
}
.page-title {
}
.headpage-desc {
  color: #4254abd1;
}
.page-desc {
  color: #202020c4;
  font-weight: 750;
}
.area-create-blog {
  padding: 0 1rem;
}
.area-create-blog > .btn-create-blog {
  margin: .5rem 0;
}
.topics{
  padding: 2rem;
  margin: 1rem 0;
}
.topics *{
  position: relative;
}
.topics-text{

}
.edit-option{
  
}
.divBtnEditPage{
  
}
.btnEditPage{
  
}
.btnEditPage *{
  margin: auto;
}