.page {
  background-color: #4254a209;
  margin: 1rem;
  padding: 0.5rem;
}
.page-title {
}
.headpage-desc {
  color: #4254abd1;
}
.page-desc {
  color: #e2e1e195;
}
.area-create-blog {
  padding: 0 1rem;
}
.area-create-blog > .btn-create-blog {
  display: block;
  margin: .5rem 0;
}
.topics{
  padding: 1rem;
}
.topics-text{

}