/* font-family: 'Courgette', cursive;
font-family: 'Inter', sans-serif;
 */

.spaceEmpty {
  text-align: center;
  margin: 5rem 0;
}

.workspace-baner {
  background-color: #0a1030;
  padding: 2rem;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.workspace-baner h1 {
  color: #eee;
  text-shadow: 0 0 2px #4254a2;
  font-family: "Courgette", cursive !important;
}

.btnW {
  border: 2px solid rgb(64, 230, 161);
  background-color: rgb(70, 255, 178);
  opacity: 0.8;
  transition-duration: 0.25s;
}
.btnW:hover {
  opacity: 1;
}
.btn-create-blog {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12pt;
}

.form-create {
  display: grid;
  gap: 10px;
  padding: 0 25px;
}

.div-linkPage{
  margin: 5rem 1rem;
}
